<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
<form action = "http://127.0.0.1:8081/ajouter" method = "POST">
 Nom: <input type = "text" name = "nom"> <br>
 Téléphone: <input type = "text" name = "telephone"> <br>
 <input type = "submit" value = "Submit">
 <table class="tableau">
 <% let noLigne = 0	%>
 		<% for(elm of adresses) {%>
 			<% if (noLigne == 0) { %>
 				<tr>
 				<% noLigne++ %>
 				<% for(p in elm) {%>
 					<td><%= p %></td>
 				<% } %>
 				</tr>
 			<% } %>
 			<tr>
 			<% for(p in elm) {%>
 				<td><%= elm[p] %></td>
 			<% } %>
 			</tr>
		<% } %>

 </table>
</body>
</html>